/* Theme color */
$primary: #235AC6;
$secondary: #1A2579;
$success: #004B35;
$info: #FFCECE;
$warning: #F4D35E;
$danger: #FF2132;
$light: #F8FCFB;
$dark: #1C1F37;
$shadow: #c5c5c5;
$lightshadow: #eeeeee;

@import "./node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Title */
h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: $dark;
  margin: 3rem 0;
}

/* Link */
a {
  text-decoration: none;
}

/* Navbar */
#nav-logo {
  height: 4rem;
}

.navbar-collapse {
  flex-grow: 0;
}

#navbarSupportedContent .nav-link {
  color: $primary;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-left: 1em;
  text-transform: uppercase;
}

/* Section */
section {
  margin: 5%;
}

.row {
  margin-right: 0;
}

/* Services */
.sv-icon {
  color: $primary;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.skew {
  transform: skewX(5deg);
  box-shadow: -3px 3px 2px 1px $shadow;
}

/* About */
.references img {
  height: 80px;
  width: auto;
  filter: grayscale(1);
  opacity: .3;
}

#features, #contact {
  background-color: $lightshadow;
}

/* Footer */
footer {
  box-shadow: 0 -.5rem .5rem $shadow;
  bottom: 0;
  color: $light;
}

footer i {
  font-size: 2rem;
  color: $light;
}

footer img {
  width: 36px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  font-size: .85rem;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

@media (min-width: 992px) {
  .sidebar {
    flex: 0 0 auto;
    width: 12.5%;
  }
}

#sidebarMenu * {
  color: $light;
}

main i {
  width: 14px;
}

/* Content */
@media (min-width: 992px) {
  .content-col {
    flex: 0 0 auto;
    width: 87.5%;
  }
}

/* Modal */
.modal-link {
  font-size: .85rem;
}

@media (min-width: 576px) {
  #insert-modal .modal-dialog {
    max-width: 80%;
  }
}

.accordion-button {
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: $white;
}

.nav-tabs {
  padding-left: 0;
}

/* Toast */
.Error {
  background-color: $warning;
}

.Success {
  background-color: $success;

  .toast-body {
    color: $white;
  }
}

/* Table */
table {
  font-size: .8rem;
}

th:not(.no-resize) {
  resize: horizontal;
  overflow: auto;
}

.no-resize {
  width: 25px;
}

/* Cursor */
i:hover, #this-month:hover, thead:hover, td:hover {
  cursor: pointer;
}

/* Calendar */
ol, li {
  padding: 0;
  list-style: none;
}

#calendar-header, #calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar-header * {
  text-align: right;
  padding-right: .5rem;
}

#calendar-body {
  height: 100%;
  border-top: solid 2px $shadow;
}

.calendar-cell {
  text-align: end;
  min-height: 6.8rem;
  padding: .3rem;
  display: flex;
  justify-content: flex-end;
  overflow: auto;
}

.calendar-cell div div {
  background-color: $warning;
  border-radius: 5px;
  margin-right: .5rem;
  padding: .25rem;
  font-size: .85rem;
  overflow: hidden;
  height: 1.5rem;
}

.other-day {
  background-color: $lightshadow;
  color: $shadow;
}

.today {
  background-color: $light;
}

.today > span {
  color: white;
  border-radius: 50%;
  background-color: $dark;
  padding: .4rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.today div div {
  background-color: $danger;
  color: white;
}

