/* Theme color */
$primary: #235AC6;
$secondary: #1A2579;
$success: #004B35;
$info: #FFCECE;
$warning: #F4D35E;
$danger: #FF2132;
$light: #F8FCFB;
$dark: #1C1F37;
$shadow: #c5c5c5;
$lightshadow: #eeeeee;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Title */
h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: $dark;
  margin: 3rem 0;
}

/* Link */
a {
  text-decoration: none;
}

/* Navbar */
#nav-logo {
  height: 4rem;
}

.navbar-collapse {
  flex-grow: 0;
}

#navbarSupportedContent .nav-link {
  color: $primary;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-left: 1em;
  text-transform: uppercase;
}

/* Section */
section {
  margin: 5%;
}

.row {
  margin-right: 0;
}

/* Services */
.sv-icon {
  color: $primary;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.skew {
  transform: skewX(5deg);
  box-shadow: -3px 3px 2px 1px $shadow;
}

/* About */
.references img {
  height: 80px;
  width: auto;
  filter: grayscale(1);
  opacity: .3;
}

#features, #contact {
  background-color: $lightshadow;
}

/* Footer */
footer {
  box-shadow: 0 -.5rem .5rem $shadow;
  bottom: 0;
  color: $light;
}

footer i {
  font-size: 2rem;
  color: $light;
}

footer img {
  width: 36px;
}

/* Sidebar */
@include media-breakpoint-up(lg) {
  .sidebar {
    height: 100vh;
    width: 12%;
    font-size: .85rem;
  }
}

#sidebarMenu * {
  color: $light;
}

/* Modal */
.modal-link {
  font-size: .85rem;
}
@media (min-width: 576px) {
  #insert-modal .modal-dialog {
    max-width: 80%;
  }
}
.accordion-button {
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  background-color: $white;
}
.nav-tabs {
  padding-left: 0;
}

/* Toast */
.Error {
  background-color: $warning;
}


