<div class="calendar-month position-relative">
    <div class="d-flex justify-content-between">
        <div id="current-month" class="fw-bold fs-5 text-primary"></div>
        <div class="d-flex justify-content-between align-items-center mx-3 text-primary">
            <i id="pre-month" class="fa-solid fa-caret-left mx-2"></i>
            <span id="this-month" class="mx-2">Today</span>
            <i id="next-month" class="fa-solid fa-caret-right mx-2"></i>
        </div>
    </div>
    <ol id="calendar-header" class="fw-bold py-3 mt-3 mb-0 bg-primary text-light"></ol>
    <ol id="calendar-body"></ol>
</div>