<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>
                <input class="d-table-cell" type="checkbox" onclick="checkAll(this)" name="row" checked>
            </th>
            {% for head in table_head %}
            <th scope="col" name={{'t-'~head}}>{{ head }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <form action="/delete-book" method="post" id="delete-book">
            {% for data in table_data %}
            <tr>
                <td>
                    <input class="d-table-cell c-row" type="checkbox" name={{data["id"]}}>
                </td>
                {% for head in table_head %}
                <td name={{'t-'~head}}>{{ data[head]|default("", true) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>
</div>