<div class="table-responsive">
    <table class="table table-sm table-hover" id="table-display">
        <thead class="text-primary">
        <tr>
            <th class="no-resize">
                <input class="d-table-cell" type="checkbox" onclick="check_all(this, 'table-row')" name="row">
            </th>
            {% for head in table_head %}
                <th scope="col" name={{'t-'~head}} onclick="sort('{{loop.index}}')">{{ column_name(head) }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <form action="/delete-{{ delete }}" method="post" id="delete-item">
            {% for data in table_data %}
            <tr>
                <td>
                    <input class="d-table-cell c-row" type="checkbox" name={{data["id"]}}>
                </td>
                {% for head in table_head %}
                <td name={{'t-'~head}}>{{ data[head]|default("", true) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>
</div>