<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/edd8c77b7c.js" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
    <title>CS50 Final Project - Home Library</title>
</head>
<body class="container-fluid px-0">

<!-- Header -->
<header>
    <!-- Navigation bar -->
    <nav id="nav"
         class="container-fluid d-flex justify-content-between px-4 navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">
            <img alt="Logo" src="../static/img/full-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#nav-links" aria-controls="nav-links"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-links">
            <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modal">
                        Login
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Carousel banner -->
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/banner-1.jpg" class="d-block w-100" alt="banner 1">
            </div>
            <div class="carousel-item">
                <img src="../static/img/banner-2.jpg" class="d-block w-100" alt="banner 2">
            </div>
            <div class="carousel-item">
                <img src="../static/img/banner-3.jpg" class="d-block w-100" alt="banner 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>

<!-- Login modal -->
<div class="modal modal-signin fade" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered" id="modal-template">
        {% include '_login.html' %}
    </div>
</div>

<main>
    <!-- Services -->
    <section id="services">
        <h1 class="text-center">Services</h1>
        <div class="row text-center mb-5">
            <div class="col">
                <i class="fa-solid fa-forward sv-icon"></i>
                <h4>Quick and easy</h4>
                <p>Help you manage your book collection and track publish status with multiple support features.</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-arrows-to-circle sv-icon"></i>
                <h4>Multiple options</h4>
                <p>Organize by authors, series, categories or even cover's color! It's all up to you.</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-user-lock sv-icon"></i>
                <h4>Private storage</h4>
                <p>It's mainly statistical and no community activities. Everything is on your own.</p>
            </div>
        </div>
    </section>

    <!-- Features -->
    <section id="features" class="mx-0">
        <div class="row p-5">
            <div class="col-4">
                <img alt="screenshot" class="img-fluid rounded skew" src="static/img/screenshot.jpg">
            </div>
            <div class="col-8 ps-5">
                <div class="row">
                    <h4>What Can This Website Do?</h4>
                    <figure>
                        <blockquote class="blockquote">
                            <p>"A place for everything, and everything in its place."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Mrs. Beeton, <cite title="The Book of Household Management">The Book of Household
                            Management</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="row">
                    <div class="col w-50">
                        <h5 class="text-primary">Book manager</h5>
                        <p>Open to custom data storage. Easy to create and delete.</p>
                    </div>
                    <div class="col w-50">
                        <h5 class="text-primary">Series follower</h5>
                        <p>Update release date on calendar. Keep track of available and missing books in series.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col w-50">
                        <h5 class="text-primary">Trade logger</h5>
                        <p>Record all your collection's in-and-out activities. Never forget who borrowed your books.</p>
                    </div>
                    <div class="col w-50">
                        <h5 class="text-primary">Time saver</h5>
                        <p>Mass upload using stylesheet. Save your time from boring typing.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about">
        <h1 class="text-center">About</h1>
        <div class="row introduction text-center">
            <p>This is the final project for CS50 Introduction to Computer Science - a free course by Havard
                University. You can take a look <a href=https://cs50.harvard.edu/x/2022/>here</a>.
            </p>
            <p>Those works are referenced from CS50 lessons and problem sets, W3schools and CSS-tricks tutorials. And a
                lot of help from StackOverflow, for sure. </p>
            <p>Some libraries and frameworks used: Flask, Bootstrap, FontAwesome, Dayjs, CS50, Werkzeug, Jinja,
                SQLite..</p>
            <p>Languages: Python, Javascript, SQL, HTML, SCSS</p>
        </div>
        <div class="row references d-flex justify-content-around pt-5">
            <img src="../static/img/bootstrap.png" alt="bootstrap">
            <img src="../static/img/canva.png" alt="canva">
            <img src="../static/img/fontawesome.png" alt="fontawesome">
            <img src="../static/img/dayjs.png" alt="dayjs">
            <img src="../static/img/cs50.png" alt="cs50">
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="mx-0 p-5">
        <h1 class="text-center mt-4 ">Contact</h1>
        <form action="mailto:urhomelibrary@gmail.com" method="post" enctype=”multipart/form-data”
              class="row w-50 mx-auto mb-3">
            <div class="mb-3">
                <input type="email" class="form-control shadow-sm p-3" id="contact-email" placeholder="Your Email:">
            </div>
            <div class="mb-3">
                <textarea class="form-control shadow-sm p-3" id="message" placeholder="Your Message:"
                          rows="5"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary shadow-sm mb-3 px-4 py-2">Send messsage</button>
            </div>
        </form>
    </section>
</main>

<!-- Footer -->
<footer class="bg-primary d-flex flex-wrap justify-content-between align-items-center py-3 my-3 border-top">
    <span class="px-5">&copy 2022 CS50x Final Project</span>
    <ul class=" justify-content-end list-unstyled d-flex m-3 px-5">
        <li class="ms-3"><a href="https://github.com/hytnht">
            <i class="fa-brands fa-github bi"></i>
        </a></li>
        <li class="ms-3"><a href="https://www.linkedin.com/in/tnht/">
            <i class="fa-brands fa-linkedin bi"></i>
        </a></li>
        <li class="ms-3"><a href="#">
            <i class="fa-solid fa-globe bi"></i>
        </a></li>
    </ul>
</footer>

<!--Toasts-->
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="toast show {{ category }}">
            <div class="toast-header show showing">
                <strong class="me-auto">{{ category }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>
</body>
</html>