{% extends "layout.html" %}

{% block title %}
Library
{% endblock title %}

{% block actions %}
<li class="nav-item">
    <a class="nav-link" href="#">
        Insert
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        Mass upload
    </a>
</li>
{% endblock actions %}


{% block sub_btn %}
    <button type="button" class="btn btn-sm btn-outline-secondary me-2 px-3">
        <i class="fa-solid fa-minus me-2"></i>
        Delete items
    </button>

    <button type="button" class="btn btn-sm btn-outline-secondary me-2 px-3" data-bs-toggle="modal"
    data-bs-target="#insert-modal">
        <i class="fa-solid fa-plus me-2"></i>
        Insert column
    </button>
{% endblock sub_btn %}

{% block content %}
{% include '%s' % content %}
{% endblock content %}








